@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("/styles/navbar.css");
@import url("/styles/collections.css");
@import url("/styles/home.css");
@import url("/styles/authPages.css");

body {
  font-family: "Inter", sans-serif !important;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/doodles_background.jpg');
  background-repeat: repeat;
  background-size: auto;
  opacity: 0.9;
  z-index: -1;
  pointer-events: none;
}



* {
  color: rgba(0, 0, 0, 0.9);
  margin: 0px;
  padding: 0px;
}

.shadow-box {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* x-offset y-offset blur color */
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

/* nav bar alignment */
#nav-bar {
  padding: 15px 15%;
  padding-top: 15px;

}

.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


