.nav-bar-main {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 10px;
  background: white;
}

.logo {
  font-family: "Barrio", system-ui;
  font-size: xx-large;
  margin-bottom: 0px;
  /* color: white; */
}
.sec-div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  
  /* color: white; */
}



.auth-btn {
  border: none;
  background-color: transparent;
  font-size: medium;
  font-weight: 500;
  padding: 5px 10px;
  /* color: white; */
}

.auth-btn:hover{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}


.active-link {
    color: #0d6efd;
}

